.floating-nav-main {
    background-color: #4267b2;
    border-bottom: 1px solid #29487d;
    display: flex;
    margin: 0 auto;
    width: 100%;
    padding-right: 205px;
    position: fixed;
    top: 0;
    left: 0;
    height: 42px;
    align-items: center;
    z-index: 1;
    font-family: sans-serif;
}

.nav-search-with-logo {
  display: flex;
  align-items: center;
  height: 25px;
  width: 490px;
  position: fixed;
  margin-right: 25px;
  left: 112px;
}
.nav-search-with-logo a {
  height: 24px;
  width: 24px;
}

.nav-fb-logo {
  height: 25px;
  width: 23px;
  margin-right: 3px;
  border-radius: 1.6px;
}

.nav-search-bar {
  height: 25px;
  /* width: 100%; */
  width: 446px;
  position: relative;
  left: 25px;
  border-radius: 4px;
  display: contents;
}
.nav-all-clickables {
  position: relative;
  height: 42px;
  width: 600px;
  left: 651px;
  display: flex;
}
.nav-buttons {
  position: relative;
  height: 27px;
  font-size: 12px;
  display: flex;
  top: 8px;
  margin-right: 8px;

}

.separator-line {
  background-color: rgba(0, 0, 0, .1);
  height: 17px;
  width: 1px;
  position: relative;
  top: -6px;
}
.show-page-button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  line-height: 27px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}

.home-button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  line-height: 27px;
  width: 55px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
}

.find-friends-button {
  background-color: #4267b2;
  color: #fff;
  border: none;
  line-height: 27px;
  width: 94px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  font-family: sans-serif;
}
.show-page-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

.home-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
}

/* .find-friends-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .1);
} */

.find-friends-button:focus {
  outline: none;
}
