.nav-search {
  height: 25px;
  position: absolute;
  border-radius: 2px;
  left: 32px;
}
.nav-search-text {
  border: none;
  height: 25px;
  width: 400px;
  position: relative;
  padding: 0 0 0 5px;
}
.nav-search-button {
  border: none;
  height: 25px;
  width: 46px;
  position: relative;
  background-color: #f5f6f7;
}

.nav-search-button:hover {
  cursor: pointer;
  background-color: #ebedf0;
}

.nav-search-text:focus {
  outline: none;
}

.nav-search-button:focus {
  outline: none;
}
