.nav-search {
  height: 25px;
  position: absolute;
  border-radius: 2px;
  left: 32px;
}
.nav-search-text {
  border: none;
  height: 25px;
  /* min-width: 100px; */
  width: 100%;
  width: 400px;
  position: relative;
  padding: 0 0 0 5px;
}
.nav-search-button {
  border: none;
  height: 25px;
  width: 46px;
  position: relative;
  background-color: #f5f6f7;
}

.nav-search-button:hover {
  cursor: pointer;
  background-color: #ebedf0;
}

.nav-search-text:focus {
  outline: none;
}

.nav-search-button:focus {
  outline: none;
}
.search-dropdown {
  background-color: #fff;
  display: block;
  position: relative;
  /* border: 1px solid black; */
}
.nav-search-text:focus + .search-dropdown {
  display: block;
}
.search-dropdown-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.search-dropdown-list:first-child {
  border-top: 1px solid gray;
}
.search-dropdown-single {
  padding: 10px 0;
  width: 100%;
  border: 1px solid gray;
  border-top: none;
}
.search-dropdown-single:hover {
  background-color: #e9ebee;
}
.search-dropdown-link {
  color: black;
  text-decoration: none;
}
.search-dropdown-link:hover {
  color: #365899;
}
