.comment-main {
  background-color: #ebedf0;
  border: 1px solid #eff1f3;
  border-radius: 20px;
  padding: 14px 14px 10px 14px;
  font-size: 13px;
  max-width: 430px;
  margin-bottom: 20px;
  display: flex;
  overflow-wrap: break-word;

}

.comment-name {
  margin-right: 5px;
  font-weight: 700;
}

.comment-name-link {
  text-decoration: none;
  color: #365899;
}
.comment-name-link:hover {
  text-decoration: underline;
}

.comment-body {
  overflow-x: scroll;
}
