.info-show {
  margin-top: 0;
}
.mini-about {
  background-color: #fff;
  font-family: sans-serif, serif;
  position: absolute;
  padding: 14px;
  left: -336px;
  top: 1px;
  width: 300px;
  min-height: 90px;
}
.about-section {
  width: 90%;
  padding: 5%;
  background-color: #fff;
  font-family: sans-serif, serif;
}
.about-piece {
  overflow: auto;
  display: table;
}
.about-label {
  min-width: 185px;
}
.about-response {
  margin-left: 20px;
  display: table-cell;
}
.edit-about-form {
  background-color: #fff;
  font-family: sans-serif, serif;
  width: 90%;
  padding: 5%;
}
.milk-c-question {
  margin: 0;
}
.edit-about-single {
  margin: 0 0 20px 0;
  height: 30px;
  vertical-align: middle;
  line-height: 29px;
  display: flex;
}
.edit-about-input {
  border-radius: 3px;
  margin-left: 5px;
  height: 20px;
  width: 250px;
  padding: 3px;
  font-size: 14px;
  position: absolute;
  left: 210px;
}
.edit-about-input:focus {
  outline: none;
}
.edit-about-radio {
  margin-left: 21px;
}
.about-edit-submit {
  background-color: #4267b2;
  color: #fff;
  border: none;
  border-radius: 2px;
  height: 41px;
  width: 100%;
}
.about-edit-submit:hover {
  cursor: pointer;
  background-color: #365899;
  color: #e9ebee;
}
.about-edit-submit:focus {
  outline: none;
}
.edit-about-button {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 283px;
}
.edit-about-button:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.edit-about-button-pic {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -7px;
  top: -5px;
}
.edit-about-about {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 470px;
  top: 14px;
}
.edit-about-about:hover {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.edit-about-about-pic {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -7px;
  top: -5px;
}
