.user-show-all-content {
  position: fixed;
  left: 0;
  top: 43px;
  width: 100%;
  height: 100%;
  background-color: #e9ebee;
  overflow-y: scroll;
  margin-bottom: 0px;
}

.show-page-topper {
  position: relative;
  width: 100%;
  height: 315px;
}
.cover-photo-container {
  position: relative;
  z-index: 0;
  margin: 0 auto;
  width: 851px;
  height: 315px;
  left: -168px;
}
.cover-photo {
  position: relative;
  z-index: 0;
  width: 851px;
  height: 315px;
  border: 0.25px solid #000019;
  border-top: none;
}

.profile-picture-container {
  z-index: 1;
  position: relative;
  left: 143px;
  top: -141px;
  height: 168px;
  width: 168px;
  border: 1px solid rgba(0, 0, 0, .15);
  text-align: center;
  border-radius: 3px;
}
.profile-picture {
  z-index: 1;
  position: relative;
  border: 4px solid white;
  border-radius: 2px;
  height: 160px;
  width: 160px;
}
.username-f-and-c {
  max-width: 275px;
  font-size: 30px;
  color: #fff;
  position: relative;
  top: -260px;
  left: 376px;
  text-shadow: 0 0 10px rgba(0,0,0,.8);
}


.show-page-main {
  position: relative;
  top: 271px;
  width: 851px;
  left: 128px;

}

.show-page-post-section {
  position: relative;
  left: 334px;
  width: 518px;
  top: -189px;
}
