
.user-show-all-content {
  position: fixed;
  left: 0;
  top: 43px;
  width: 100%;
  height: 100%;
  background-color: #e9ebee;
  overflow-y: scroll;
  margin-bottom: 0px;
}

.show-page-topper {
  position: relative;
  width: 100%;
  height: 315px;
}
.cover-photo-container {
  position: relative;
  z-index: 0;
  width: 851px;
  height: 315px;
  left: 126px;
}
.cover-photo {
  position: relative;
  z-index: 0;
  width: 851px;
  height: 315px;
  border: 0.25px solid #000019;
  border-top: none;
}

.username-f-and-c {
  max-width: 275px;
  font-size: 30px;
  color: #fff;
  position: relative;
  top: -260px;
  left: 376px;
  text-shadow: 0 0 10px rgba(0,0,0,.8);
}

.show-page-main {
  position: relative;
  top: 78px;
  width: 851px;
  left: 128px;
  margin-bottom: 85px;
  display: flex;
}

.show-page-post-section {
  position: relative;
  left: 334px;
  width: 518px;
}

/* .show-page-left {
  position: relative;
  height: 700px;
  width: 320px;
  left: -519px;
}

.profile-info {
  background-color: #fff;
  height: 286px;
  width: 280px;
  padding: 20px;
}
.p {
  margin: 0;
} */
.nine-friends-title {
  position: absolute;
  background-color: #fff;
  width: 292px;
  padding: 5px 14px;
  top: 200px;
  left: -336px;
  font-family: sans-serif, serif;
}
.nine-friends {
  background-color: #fff;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  position: absolute;
  top: 260px;
  left: -336px;
}
.mini-about {
  position: absolute;
  left: -336px;
  width: 292px;
  height: 90px;
  top: 0;
}
