.notifications-div {
  position: fixed;
  display: none;
  width: 431px;
  max-height: 200px;
  list-style: none;
  top: 43px;
  right: 397px;
  overflow: scroll;
  border: 1px solid rgba(100, 100, 100, 0.4);
}

.notification-li {
  position: relative;
  width: 381px;
  height: 36px;
  background-color: #edf2fa;
  color: black;
  font-family: sans-serif;
  font-size: 14px;
  border: 1px solid black;
  border-top: none;
  border-color: rgba(100, 100, 100, 0.4);
  padding: 10px 25px;
}

.notifications-button:hover {
  cursor: pointer;
}
.notifications-button:focus {
  outline: none;
}

.notifications-button:focus + .notifications-div {
  display: block;
}
.notification-li:focus + .notifications-div {
  display: block;
}
.notification-li:hover + .notifications-div {
  display: block;
}
li:hover .notifications-div {
  display: block;
}

.notifications-badge {
  padding: 4px;
  background-color: red;
  color: white;
  margin: 0;
  position: relative;
  height: 7px;
  width: 7px;
  z-index: 4;
  border: 0px solid;
  border-radius: 10px;
  font-family: sans-serif;
  line-height: .67;
  top: -29px;
  left: 7px;
  display: inline-table;
}

.single-notification {
  width: 381px;
  height: 36px;
  background-color: #edf2fa;
  border: none;
}

.single-notification:hover {
  background-color: #dddfe2;
  cursor: pointer;
}
