.post-main {
  width: 492px;
  min-height: 140px;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 3px;
  margin-bottom: 12px;
  font-family: helvetica;
  margin-bottom: 20px;
}
.post-names {
  display: flex;
  margin-bottom: 5px;
}
.postee-name{
  position: relative;
  margin-right: 5px;
  color: #365899;
}
.post-right-arrow {
  position: relative;
  height: 13px;
  width: 10px;
  margin-right: 5px;
  top: 2px;
}
.poster-name{
  position: relative;
  color: #365899;
}
.post-body {
  margin-bottom: 36px;
}
