.post-main {
  width: 492px;
  min-height: 111px;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 3px;
  margin-bottom: 12px;
  font-family: helvetica;
}
.post-names {
  
}
.post-body {

}
