.post-main {
  position: relative;
  width: 492px;
  min-height: 140px;
  padding: 12px 12px 0 12px;
  background-color: #fff;
  border: 1px solid rgb(221, 223, 226);
  border-radius: 3px;
  margin-bottom: 12px;
  font-family: helvetica;
  margin-bottom: 20px;
  overflow-wrap: break-word;
}
.post-top-row {
  display: flex;
}
.post-names {
  display: flex;
  margin-bottom: 8px;
}
.postee-name{
  position: relative;
  margin-right: 5px;
  color: #365899;
}
.post-right-arrow {
  position: relative;
  height: 13px;
  width: 10px;
  margin-right: 5px;
  top: 2px;
}
.poster-name{
  position: relative;
}
.post-name-link {
  text-decoration: none;
  color: #365899;
}
.post-name-link:hover {
  text-decoration: underline;
}
.post-date-posted {
  position: relative;
  font-size: 11px;
  color: #616770;
  left: 2px;
}
.post-body {
  margin-bottom: 36px;
  width: 470px;
  margin: 14px auto 36px auto;
}

.delete-post-div {
  width: 20px;
}
.delete-post-button {
  border: none;
  font-size: 16px;
  position: absolute;
  left: 460px;
  top: 14px;
  color: #365899;
}

.delete-post-button:hover {
  cursor: pointer;
  color: #e9ebee;
}
.delete-post-button:focus {
  outline: none;
}
